@mixin gridProductCategory($imgSrc,$grs:1,$gre:2){
  background-image: url($imgSrc);
  background-repeat: no-repeat;
  grid-row-start: $grs;
  grid-row-end: $gre;
  background-size: cover;
  background-position: center;
}
@mixin gridProductCategory375px($grs,$gre){
  grid-row-start: $grs;
  grid-row-end: $gre;
}
@mixin popupListGroupAfter($top,$left,$width){
  content: '';
  position: absolute;
  left: $left;
  top: $top;
  width: $width;
  height: 1px;
  background-color: $colorWhiteGray;
}