@import "./fonts";
@import './variables';
@import "./mixins";


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 75px;
  background-color: $colorLightBlack;
  @media (max-width: 1202px) {
    padding: 0 32px;
  }
  @media (max-width: 380px) {
    padding: 0 16px;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__left {
  }

  &__logo {
    width: 44px;
    height: 38px;
    margin-right: 41px;
    cursor: pointer;
  }

  &__search {
    width: 26px;
    cursor: pointer;
  }

  &__nav {
  }
}

.nav {
  width: 162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 380px) {
    width: 32px;
    &__profile {
      display: none;
    }
    &__cart {
      display: none;
    }
  }

  &__profile {
    width: 29px;
    height: 29px;
    background-image: url("../images/profile.svg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
  }
}

.menu {
  width: 32px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &__line {
    width: 32px;
    height: 3px;
    background-color: #E8E8E8;
  }
}

.cart {
  width: 32px;
  height: 29px;
  background-image: url("../images/card.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  cursor: pointer;

  &__quantity {
    width: 19px;
    height: 19px;
    background-color: $colorPink;
    color: $colorWhite;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    position: absolute;
    right: -9.5px;
    top: -9.5px;
    padding: 2px;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.the-brand {
  width: 100%;
  height: 764px;
  display: flex;
  justify-content: flex-start;
  background-color: $colorLightPink;
  @media (max-width: 1202px) {
    padding: 0 32px;
  }
  @media (max-width: 1000px) {
    height: 367.57px;
    justify-content: center;
  }
  @media (max-width: 375px) {
    padding: 0 16px;
  }

  &__container {
    display: flex;
    @media (max-width: 1000px) {
      max-width: 905px;
    }
  }

  &__left-side {
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @media (max-width: 690px) {
      display: none;
    }
  }

  &__img {
    height: 100%;
    margin-right: 60px;
    object-fit: cover;
    object-position: -218px;
    @media (max-width: 1000px) {
      object-position: -32px;
    }
  }

  &__right-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    @media (max-width: 1000px) {
      justify-content: flex-end;
      align-items: center;
    }
    @media (max-width: 690px) {
      width: 100%;
      justify-content: center;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 380px;
    height: 93px;
    position: relative;
    margin: 290px 0 0 28px;
    @media (max-width: 1000px) {
      margin: 0 0 0 28px;
      width: 285px;
    }
    @media (max-width: 375px) {
      width: 237px;
      height: 66px;
    }
  }

  &__text-wrapper:before {
    content: " ";
    float: left;
    position: absolute;
    width: 12px;
    height: 100%;
    left: -28px;
    background-color: $colorPink;
    @media (max-width: 375px) {
      height: 61px;
    }
  }

  &__line {
    width: 100%;
    height: 100%;
  }

  &__text {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 42px;
    color: $colorLightBlack;
    word-break: break-all;
    margin-top: 7px;
    @media (max-width: 1000px) {
      font-size: 44px;
      line-height: 28px;
      margin-top: 16px;
    }
    @media (max-width: 375px) {
      font-size: 38px;
      line-height: 25px;
      margin-top: 10px;
    }

    & span {
      font-style: normal;
      font-weight: 700;
      font-size: 31px;
      line-height: 32.2px;
      color: $colorLightBlack;
      white-space: nowrap;
      margin: 0;
      @media (max-width: 1000px) {
        font-size: 24px;
        line-height: 28.8px;
      }
      @media (max-width: 375px) {
        font-size: 20px;
        line-height: 24px;
      }

      & span {
        color: $colorPink;
      }
    }
  }
}

.category {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  grid-gap: 30px;
  align-content: space-between;
  justify-content: space-between;
  margin: 65px 0 96px 0;
  @media (max-width: 1220px) {
    margin: 19.95px 16.5px 155px 16.5px;
  }
  @media (max-width: 1000px) {
    grid-template-rows: 167px 116px;
    grid-gap: 18.9px;
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: 247px 247px 247px 111px;
    margin: 64px 16px;
  }

  &__women {
    @include gridProductCategory("../images/categories-women.jpg");
    @media (max-width: 500px){
      @include gridProductCategory375px(1,2);
    }
  }

  &__men {
    @include gridProductCategory("../images/categories-men.jpg");
    @media (max-width: 500px){
      @include gridProductCategory375px(2,3);
    }
  }

  &__kids {
    @include gridProductCategory("../images/categories-kids.jpg");
    @media (max-width: 500px){
      @include gridProductCategory375px(3,4);
    }
  }

  &__accessories {
    @include gridProductCategory("../images/categories-accessories.jpg",2,3);
    grid-column-start: 1;
    grid-column-end: 4;
    @media (max-width: 500px) {
      @include gridProductCategory375px(4, 5);
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.card {
  position: relative;
  @media (max-width: 1000px) {
    background-position: top;
  }

  &__overlap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(33, 22, 22, 0.7);
    opacity: 1;
    transition: opacity 1s;

    &:hover {
      opacity: 0;
      transition: opacity 1s;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $colorWhite;
  }

  &__text2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: $colorPink;
  }
}
.featured-items{
  display: flex;
  flex-direction: column;
  -webkit-background-origin: border-box;
  background-origin: border-box;
  @media (max-width: 375px){
    max-width: 359px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 48px auto;
    @media (max-width: 1150px){
      margin: 0 auto 73.74px auto;
    }
    @media (max-width: 375px){
      margin: 0 auto 64px auto;;
    }
  }
  &__item{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: $colorLightBlack;
  }
  &__description{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  &__btn{
    width: 211px;
    height: 47px;
    border: 1px solid $colorCoral;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: none;
    color: $colorCoralPink;
    margin: 48.5px auto 95.5px auto;
    position: relative;
    cursor: pointer;
    transition: 1s;
    @media (max-width: 1200px){
      margin: 32.98px auto 65.02px auto;
    }
    @media (max-width: 375px){
      margin: 41px auto 96.5px auto;
    }
    &:hover{
      background: $colorPink;
      color: $colorWhite;
      transition: 1s;
    }
    &:active{
      top: 1px;
      left: 1px;
    }
  }
}
.products{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 581px);
  grid-gap: 30px;
  align-content: space-between;
  justify-content: space-between;
  @media (max-width: 1200px){
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 581px);
    max-width: 736px;
    margin: 0 auto;
    grid-gap: 16px;
  }
  @media (max-width: 765px){
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 579.39px);
    max-width: none;
    grid-gap: 16px;
    padding: 0 8px;
  }
}
.product{
  display: flex;
  flex-direction: column;
  width: 100%;
  &__card{
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__card-image1{
    background: url("../images/product1.jpg") 100% no-repeat;
  }
  &__card2{
    background: url("../images/product2.jpg") 100% no-repeat;
  }
  &__card3{
    background: url("../images/product3.jpg") 100% no-repeat;
  }
  &__card4{
    background: url("../images/product4.jpg") 100% no-repeat;
  }
  &__card5{
    background: url("../images/product5.jpg") 100% no-repeat;
  }
  &__card6{
    background: url("../images/product6.jpg") 100% no-repeat;
  }
  &__photo{
    width: 100%;
    z-index: 0;
    display: block;
  }
  &__overlap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    transition: opacity 1s;
    &:hover{
      opacity: 1;
      transition: opacity 1s;
    }
    &__img{

    }
  }
  &__wrapper{
    width: 100%;
    padding: 25.35px 28.8px 20px 18px;
    background-color: $colorWhiteGray2;
  }
  &__name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $colorBlack;
    margin-bottom: 16.35px;
  }
  &__description{
    max-width: 314px;
    height: 51px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $colorGray;
    margin-bottom: 18px;
  }
  &__price{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorPink;
  }
}
.overlap{
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn{
    width: 138px;
    height: 43px;
    border: 1px solid $colorWhite;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorWhite;
    position: relative;
    cursor: pointer;
    &:active{
      top: 1px;
      left: 1px;
    }
  }
  &__img{
    margin-right: 11px;
  }
}

.advantages {
  min-height: 340px;
  width: 100%;
  background-color: $colorLightBlack;

  &__container {
    padding-bottom: 104px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 0;
      padding-bottom: 64px;
    }
    @media (max-width: 380px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__item {
    padding-top: 103px;
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 991.98px) {
      padding-top: 48px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: $colorWhite;
    padding-top: 28px;
  }

  &__text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: $colorWhite;
    padding-top: 16px;
  }
}

.subscribe {
  min-height: 450px;
  width: 100%;
  background-image: url("./../images/subscribe_bg.jpg");
  background-size: cover;
  background-position: 0 100%;

  &__container {
    padding: 86px 25px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 991.98px){
      flex-direction: column;
      align-items: center;
      justify-content: normal;
      gap: 48px;
      padding: 64px 25px;

    }
  }
  &__side{
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  &__image-wrapper{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;

  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__quote{
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 360px;
    width: 100%;
    .quote_italic{
      font-style: italic;
    }
  }
  &__text{
    margin-top: 30px;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: $colorLightBlack;
    &_bold{
      font-weight: 700;
      font-size: 24px;
    }
  }
  .email{
    &__wrapper{
      margin-top: 32px;
      width: 100%;
      max-width: 356px;
      height: 50px;
      border-radius: 25px;
      overflow: hidden;
      display: flex;
      @media (max-width: 575.98px) {
        max-width: 320px;
        height: 46px;
      }
    }
    &__input{
      width: 72%;
      height: 100%;
      border: none;
      outline: none;
      background-color: $colorLightGray2;
      padding-left: 22px;
      padding-right: 22px;
    }
    &__button{
      border: none;
      outline: none;
      width: 28%;
      height: 100%;
      background-color: $colorPink;
      text-align: center;
      cursor: pointer;
      &[value]{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorWhite;
      }
      &:hover{
        opacity: 0.8;
      }
    }
  }
}
.footer{
  width: 100%;
  height: 79px;
  background-color: $colorLightBlack;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 580px){
    height: 143px;
  }
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32.5px;
    @media (max-width: 580px){
      height: 100%;
      flex-direction: column;
      padding: 43px 0 9px 0;
      & div:last-child{
        order: -1;
      }
    }
  }
  &__text{
    width: 332px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorWhite;
    @media (max-width: 580px){
      width: 251px;
    }
  }
  &__buttons{
    width: 149px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn{
    width: 32px;
    height: 32px;
    background-color: $colorWhite;
    border: none;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: $colorBlack;
    font-weight: bold;
    transition: .5s;
    &:hover{
      background-color: $colorPink;
      color: $colorWhite;
      transition: .5s;
    }
  }
}

/*Страница Catalog*/
.main{
  width: 100%;
}
.new-arrivals{
  width: 100%;
  height: 148px;
  background-color: $colorWhitePink;
  &__wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1202px){
      padding: 0 16px;
    }
    @media (max-width: 500px){
      flex-direction: column;
      justify-content: flex-start;
      padding: 24px 0;
    }
  }
  &__title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorPink;
    @media (max-width: 500px){
      margin-bottom: 32px;
    }
  }
  &__text{
    & span{
      color: $colorPink;
    }
  }
  &__link{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $colorMouseGrey;
  }
}
.catalog{
  display: flex;
  flex-direction: column;
  &__filter{
    margin: 59px 0 60px 16px;
    width: 670px;
    @media (max-width: 1200px){
      width: 736px;
      margin: 24px auto 40px auto;
    }
    @media (max-width: 765px){
      max-width: 100%;
      margin: 24px 0 40px 0;
      padding: 0 8px;
    }
  }
  &__product{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 581px);
    @media (max-width: 1200px){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 581px);
    }
    @media (max-width: 765px){
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(9, 579.39px);
    }
  }
}
.filter{
  height: 17px;
  &__nav{
    display: flex;
    justify-content: space-between;
  }
  &__wrapper-left{
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $colorBlack;
    @media (max-width: 460px){
      display: none;
    }
  }
  &__menu{
    margin-left: 11px;
    width: 15px;
    height: 10px;
    cursor: pointer;
    background: url("../images/filter-menu.svg") 100% no-repeat;
    @media (max-width: 460px){
      width: 37.5px;
      height: 25px;
      margin: 0;
      background-size: 100%;
    }
  }
  &__category{
    width: 296px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 460px){
      width: 260px;
      height: 14px;
    }
  }
  &__category-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorGray;
    @media (max-width: 460px){
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__category-btn{
    width: 12px;
    height: 5px;
    border: none;
    outline: none;
    background: url("../images/filter-category-btn.svg") 100% no-repeat;
    margin-left: 10px;
    cursor: pointer;
  }
}

.catalog-product__card-image1{
  background: url("../images/product1.jpg") 100% no-repeat;
}
.catalog-product__card-image2{
  background: url("../images/product7.jpg") 100% no-repeat;
}
.catalog-product__card-image3{
  background: url("../images/product3.jpg") 100% no-repeat;
}
.catalog-product__card-image4{
  background: url("../images/product4.jpg") 100% no-repeat;
}
.catalog-product__card-image5{
  background: url("../images/product8.jpg") 100% no-repeat;
}
.catalog-product__card-image6{
  background: url("../images/product9.jpg") 100% no-repeat;
}
.catalog-product__card-image7{
  background: url("../images/product10.jpg") 100% no-repeat;
}
.catalog-product__card-image8{
  background: url("../images/product11.jpg") 100% no-repeat;
}
.catalog-product__card-image9{
  background: url("../images/product12.jpg") 100% no-repeat;
}
.catalog-pages {
  width: 283px;
  height: 43px;
  margin: 48px auto 96px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(196, 196, 196, .2);
  @media (max-width: 768px){
    margin: 40px auto 63px auto;
  }
  &__btn {
    width: 13px;
    height: 19px;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 4px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  &__page {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $colorGrayPages;
    text-decoration: none;
    &_active {
      color: $colorPink;
    }
  }
  &__points{
    color: $colorGrayPages;
  }
}






