@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  width: 100%;
  height: 75px;
  background-color: #222222; }
  @media (max-width: 1202px) {
    .header {
      padding: 0 32px; } }
  @media (max-width: 380px) {
    .header {
      padding: 0 16px; } }
  .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
  .header__logo {
    width: 44px;
    height: 38px;
    margin-right: 41px;
    cursor: pointer; }
  .header__search {
    width: 26px;
    cursor: pointer; }

.nav {
  width: 162px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 380px) {
    .nav {
      width: 32px; }
      .nav__profile {
        display: none; }
      .nav__cart {
        display: none; } }
  .nav__profile {
    width: 29px;
    height: 29px;
    background-image: url("../images/profile.svg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer; }

.menu {
  width: 32px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer; }
  .menu__line {
    width: 32px;
    height: 3px;
    background-color: #E8E8E8; }

.cart {
  width: 32px;
  height: 29px;
  background-image: url("../images/card.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  cursor: pointer; }
  .cart__quantity {
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    position: absolute;
    right: -9.5px;
    top: -9.5px;
    padding: 2px; }

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

.the-brand {
  width: 100%;
  height: 764px;
  display: flex;
  justify-content: flex-start;
  background-color: #F1E4E6; }
  @media (max-width: 1202px) {
    .the-brand {
      padding: 0 32px; } }
  @media (max-width: 1000px) {
    .the-brand {
      height: 367.57px;
      justify-content: center; } }
  @media (max-width: 375px) {
    .the-brand {
      padding: 0 16px; } }
  .the-brand__container {
    display: flex; }
    @media (max-width: 1000px) {
      .the-brand__container {
        max-width: 905px; } }
  .the-brand__left-side {
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 690px) {
      .the-brand__left-side {
        display: none; } }
  .the-brand__img {
    height: 100%;
    margin-right: 60px;
    object-fit: cover;
    object-position: -218px; }
    @media (max-width: 1000px) {
      .the-brand__img {
        object-position: -32px; } }
  .the-brand__right-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start; }
    @media (max-width: 1000px) {
      .the-brand__right-side {
        justify-content: flex-end;
        align-items: center; } }
    @media (max-width: 690px) {
      .the-brand__right-side {
        width: 100%;
        justify-content: center; } }
  .the-brand__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 380px;
    height: 93px;
    position: relative;
    margin: 290px 0 0 28px; }
    @media (max-width: 1000px) {
      .the-brand__text-wrapper {
        margin: 0 0 0 28px;
        width: 285px; } }
    @media (max-width: 375px) {
      .the-brand__text-wrapper {
        width: 237px;
        height: 66px; } }
  .the-brand__text-wrapper:before {
    content: " ";
    float: left;
    position: absolute;
    width: 12px;
    height: 100%;
    left: -28px;
    background-color: #F16D7F; }
    @media (max-width: 375px) {
      .the-brand__text-wrapper:before {
        height: 61px; } }
  .the-brand__line {
    width: 100%;
    height: 100%; }
  .the-brand__text {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 42px;
    color: #222222;
    word-break: break-all;
    margin-top: 7px; }
    @media (max-width: 1000px) {
      .the-brand__text {
        font-size: 44px;
        line-height: 28px;
        margin-top: 16px; } }
    @media (max-width: 375px) {
      .the-brand__text {
        font-size: 38px;
        line-height: 25px;
        margin-top: 10px; } }
    .the-brand__text span {
      font-style: normal;
      font-weight: 700;
      font-size: 31px;
      line-height: 32.2px;
      color: #222222;
      white-space: nowrap;
      margin: 0; }
      @media (max-width: 1000px) {
        .the-brand__text span {
          font-size: 24px;
          line-height: 28.8px; } }
      @media (max-width: 375px) {
        .the-brand__text span {
          font-size: 20px;
          line-height: 24px; } }
      .the-brand__text span span {
        color: #F16D7F; }

.category {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  grid-gap: 30px;
  align-content: space-between;
  justify-content: space-between;
  margin: 65px 0 96px 0; }
  @media (max-width: 1220px) {
    .category {
      margin: 19.95px 16.5px 155px 16.5px; } }
  @media (max-width: 1000px) {
    .category {
      grid-template-rows: 167px 116px;
      grid-gap: 18.9px; } }
  @media (max-width: 500px) {
    .category {
      grid-template-columns: 1fr;
      grid-template-rows: 247px 247px 247px 111px;
      margin: 64px 16px; } }
  .category__women {
    background-image: url("../images/categories-women.jpg");
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
    background-position: center; }
    @media (max-width: 500px) {
      .category__women {
        grid-row-start: 1;
        grid-row-end: 2; } }
  .category__men {
    background-image: url("../images/categories-men.jpg");
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
    background-position: center; }
    @media (max-width: 500px) {
      .category__men {
        grid-row-start: 2;
        grid-row-end: 3; } }
  .category__kids {
    background-image: url("../images/categories-kids.jpg");
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
    background-position: center; }
    @media (max-width: 500px) {
      .category__kids {
        grid-row-start: 3;
        grid-row-end: 4; } }
  .category__accessories {
    background-image: url("../images/categories-accessories.jpg");
    background-repeat: no-repeat;
    grid-row-start: 2;
    grid-row-end: 3;
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 4; }
    @media (max-width: 500px) {
      .category__accessories {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2; } }

.card {
  position: relative; }
  @media (max-width: 1000px) {
    .card {
      background-position: top; } }
  .card__overlap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(33, 22, 22, 0.7);
    opacity: 1;
    transition: opacity 1s; }
    .card__overlap:hover {
      opacity: 0;
      transition: opacity 1s; }
  .card__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card__text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFF; }
  .card__text2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F; }

.featured-items {
  display: flex;
  flex-direction: column;
  -webkit-background-origin: border-box;
  background-origin: border-box; }
  @media (max-width: 375px) {
    .featured-items {
      max-width: 359px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
  .featured-items__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 48px auto; }
    @media (max-width: 1150px) {
      .featured-items__text {
        margin: 0 auto 73.74px auto; } }
    @media (max-width: 375px) {
      .featured-items__text {
        margin: 0 auto 64px auto; } }
  .featured-items__item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222; }
  .featured-items__description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px; }
  .featured-items__btn {
    width: 211px;
    height: 47px;
    border: 1px solid #ff6a6a;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: none;
    color: #F26376;
    margin: 48.5px auto 95.5px auto;
    position: relative;
    cursor: pointer;
    transition: 1s; }
    @media (max-width: 1200px) {
      .featured-items__btn {
        margin: 32.98px auto 65.02px auto; } }
    @media (max-width: 375px) {
      .featured-items__btn {
        margin: 41px auto 96.5px auto; } }
    .featured-items__btn:hover {
      background: #F16D7F;
      color: #FFF;
      transition: 1s; }
    .featured-items__btn:active {
      top: 1px;
      left: 1px; }

.products {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 581px);
  grid-gap: 30px;
  align-content: space-between;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .products {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 581px);
      max-width: 736px;
      margin: 0 auto;
      grid-gap: 16px; } }
  @media (max-width: 765px) {
    .products {
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(6, 579.39px);
      max-width: none;
      grid-gap: 16px;
      padding: 0 8px; } }

.product {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .product__card {
    width: 100%;
    height: 100%;
    position: relative; }
  .product__card-image1 {
    background: url("../images/product1.jpg") 100% no-repeat; }
  .product__card2 {
    background: url("../images/product2.jpg") 100% no-repeat; }
  .product__card3 {
    background: url("../images/product3.jpg") 100% no-repeat; }
  .product__card4 {
    background: url("../images/product4.jpg") 100% no-repeat; }
  .product__card5 {
    background: url("../images/product5.jpg") 100% no-repeat; }
  .product__card6 {
    background: url("../images/product6.jpg") 100% no-repeat; }
  .product__photo {
    width: 100%;
    z-index: 0;
    display: block; }
  .product__overlap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    transition: opacity 1s; }
    .product__overlap:hover {
      opacity: 1;
      transition: opacity 1s; }
  .product__wrapper {
    width: 100%;
    padding: 25.35px 28.8px 20px 18px;
    background-color: #F8F8F8; }
  .product__name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    margin-bottom: 16.35px; }
  .product__description {
    max-width: 314px;
    height: 51px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px; }
  .product__price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F; }

.overlap {
  display: flex;
  justify-content: center;
  align-items: center; }
  .overlap__btn {
    width: 138px;
    height: 43px;
    border: 1px solid #FFF;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
    position: relative;
    cursor: pointer; }
    .overlap__btn:active {
      top: 1px;
      left: 1px; }
  .overlap__img {
    margin-right: 11px; }

.advantages {
  min-height: 340px;
  width: 100%;
  background-color: #222222; }
  .advantages__container {
    padding-bottom: 104px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center; }
    @media (max-width: 768px) {
      .advantages__container {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-bottom: 64px; } }
    @media (max-width: 380px) {
      .advantages__container {
        padding-left: 25px;
        padding-right: 25px; } }
  .advantages__item {
    padding-top: 103px;
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 991.98px) {
      .advantages__item {
        padding-top: 48px; } }
  .advantages__title {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FFF;
    padding-top: 28px; }
  .advantages__text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FFF;
    padding-top: 16px; }

.subscribe {
  min-height: 450px;
  width: 100%;
  background-image: url("./../images/subscribe_bg.jpg");
  background-size: cover;
  background-position: 0 100%; }
  .subscribe__container {
    padding: 86px 25px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991.98px) {
      .subscribe__container {
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        gap: 48px;
        padding: 64px 25px; } }
  .subscribe__side {
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
  .subscribe__image-wrapper {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden; }
  .subscribe__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .subscribe__quote {
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 360px;
    width: 100%; }
    .subscribe__quote .quote_italic {
      font-style: italic; }
  .subscribe__text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222222; }
    .subscribe__text_bold {
      font-weight: 700;
      font-size: 24px; }
  .subscribe .email__wrapper {
    margin-top: 32px;
    width: 100%;
    max-width: 356px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    display: flex; }
    @media (max-width: 575.98px) {
      .subscribe .email__wrapper {
        max-width: 320px;
        height: 46px; } }
  .subscribe .email__input {
    width: 72%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #E1E1E1;
    padding-left: 22px;
    padding-right: 22px; }
  .subscribe .email__button {
    border: none;
    outline: none;
    width: 28%;
    height: 100%;
    background-color: #F16D7F;
    text-align: center;
    cursor: pointer; }
    .subscribe .email__button[value] {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFF; }
    .subscribe .email__button:hover {
      opacity: 0.8; }

.footer {
  width: 100%;
  height: 79px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 580px) {
    .footer {
      height: 143px; } }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32.5px; }
    @media (max-width: 580px) {
      .footer__container {
        height: 100%;
        flex-direction: column;
        padding: 43px 0 9px 0; }
        .footer__container div:last-child {
          order: -1; } }
  .footer__text {
    width: 332px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFF; }
    @media (max-width: 580px) {
      .footer__text {
        width: 251px; } }
  .footer__buttons {
    width: 149px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__btn {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    border: none;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    transition: .5s; }
    .footer__btn:hover {
      background-color: #F16D7F;
      color: #FFF;
      transition: .5s; }

/*Страница Catalog*/
.main {
  width: 100%; }

.new-arrivals {
  width: 100%;
  height: 148px;
  background-color: #F8F3F4; }
  .new-arrivals__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1202px) {
      .new-arrivals__wrapper {
        padding: 0 16px; } }
    @media (max-width: 500px) {
      .new-arrivals__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        padding: 24px 0; } }
  .new-arrivals__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F; }
    @media (max-width: 500px) {
      .new-arrivals__title {
        margin-bottom: 32px; } }
  .new-arrivals__text span {
    color: #F16D7F; }
  .new-arrivals__link {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363; }

.catalog {
  display: flex;
  flex-direction: column; }
  .catalog__filter {
    margin: 59px 0 60px 16px;
    max-width: 100%; }
    @media (max-width: 1200px) {
      .catalog__filter {
        width: 736px;
        margin: 24px auto 40px auto; } }
    @media (max-width: 765px) {
      .catalog__filter {
        max-width: 100%;
        margin: 24px 0 40px 0;
        padding: 0 8px; } }
  .catalog__product {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 581px); }
    @media (max-width: 1200px) {
      .catalog__product {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 581px); } }
    @media (max-width: 765px) {
      .catalog__product {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(9, 579.39px); } }

.filter {
  height: 17px; }
  .filter__nav {
    display: flex;
    justify-content: space-between; }
  .filter__wrapper-left {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .filter__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000; }
    @media (max-width: 460px) {
      .filter__text {
        display: none; } }
  .filter__menu {
    margin-left: 11px;
    width: 15px;
    height: 10px;
    background: url("../images/filter-menu.svg") 100% no-repeat; }
    @media (max-width: 460px) {
      .filter__menu {
        width: 37.5px;
        height: 25px;
        margin: 0;
        background-size: 100%; } }
  .filter__category {
    width: 296px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 460px) {
      .filter__category {
        width: 260px;
        height: 14px; } }
  .filter__category-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D; }
    @media (max-width: 460px) {
      .filter__category-name {
        font-size: 12px;
        line-height: 14px; } }
  .filter__category-btn {
    width: 12px;
    height: 5px;
    border: none;
    outline: none;
    background: url("../images/filter-category-btn.svg") 100% no-repeat;
    margin-left: 10px; }

.catalog-product__card-image1 {
  background: url("../images/product1.jpg") 100% no-repeat; }

.catalog-product__card-image2 {
  background: url("../images/product7.jpg") 100% no-repeat; }

.catalog-product__card-image3 {
  background: url("../images/product3.jpg") 100% no-repeat; }

.catalog-product__card-image4 {
  background: url("../images/product4.jpg") 100% no-repeat; }

.catalog-product__card-image5 {
  background: url("../images/product8.jpg") 100% no-repeat; }

.catalog-product__card-image6 {
  background: url("../images/product9.jpg") 100% no-repeat; }

.catalog-product__card-image7 {
  background: url("../images/product10.jpg") 100% no-repeat; }

.catalog-product__card-image8 {
  background: url("../images/product11.jpg") 100% no-repeat; }

.catalog-product__card-image9 {
  background: url("../images/product12.jpg") 100% no-repeat; }

/*# sourceMappingURL=style.css.map */
