@import "./fonts";
@import './variables';


*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 75px;
  background-color: $colorBlack;
  @media (max-width: 1202px) {
    padding: 0 32px;
  }
  @media (max-width: 375px) {
    padding: 0 16px;
  }
  &__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  &__left{}
  &__logo{
    width: 44px;
    height: 38px;
    margin-right: 41px;
  }
  &__search{
    width: 26px;
  }
  &__nav{}
}
.nav {
  width: 162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 375px) {
    width: 32px;
    &__profile{
      display: none;
    }
    &__cart{
      display: none;
    }
  }
  &__profile{
    width: 29px;
    height: 29px;
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
.menu{
  width: 32px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__line{
    width: 32px;
    height: 3px;
    background-color: #E8E8E8;
  }
}
.cart{
  width: 32px;
  height: 29px;
  background-image: url("../images/card.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  &__quantity{
    width: 19px;
    height: 19px;
    background-color: $colorPink;
    color: $colorWhite;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    position: absolute;
    right: -9.5px;
    top: -9.5px;
    padding: 2px;
  }
}
