
$colorLightBlack: #222222;
$colorBlack: #000;
$colorLightPink: #F1E4E6;
$colorWhiteGray: #e5e5e5;
$colorGray: #5D5D5D;
$colorPink: #F16D7F;
$colorWhite: #FFF;
$colorLightGray: #9F9F9F;
$colorCoral: #ff6a6a;
$colorCoralPink: #F26376;
$colorWhiteGray2: #F8F8F8;
$colorLightGray2: #E1E1E1;
$colorWhitePink: #F8F3F4;
$colorMouseGrey: #636363;